{% extends "base.html" %}
<title>{% block title %}Edit Profile{% endblock %}</title>

{% block content %}
<h2>Edit Profile</h2>

<div class="Edit">
    <form method="POST" action="{{ url_for('views.edit_profile') }}" enctype="multipart/form-data">
        <input 
        type="text" 
        name="username" 
        class="form-control" 
        placeholder="Username" 
        value="{{ current_user.username }}"
        required
      />
      <br>
      
      <br>
      <textarea
        name="biography"
        class="form-control"
        placeholder="Biography"
        rows="4"
      >{{ current_user.biography or '' }}</textarea>
      <br>
      <label for="image_profile">Change Profile Picture:</label><br>
      <input type="file" name="image_profile" id="image_profile" accept="image/*"><br><br>
      <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
    </form>
</div>

{% endblock %}
