{% extends "base.html" %} 
<title>{% block title %}Home{% endblock %}</title>

{% block content %}

<style>
  .post-section {
    padding: 1.5rem 2rem 2rem 2rem;
    font-family: 'Noto Sans', Arial, sans-serif;
    line-height: 1.5;
    color: antiquewhite;
    font-weight: 700;
  }

  .post-content {
    border-radius: 30px;
    border: #1b4f83 solid 3px;
    background-color: #1b4f83;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .image-container {
    width: 85%;         /* fixed width */
    height: auto;         /* allow height to adjust */
    max-height: 450px;    /* limit max height */
    margin: 10px auto;
    border-radius: 15px;
    text-align: center;   /* center content horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .uploaded-image {
    width: 100%;
    max-height: 450px;
    height: auto;
    object-fit: contain; /* <-- THIS ensures no cropping */
    display: block;
    border-radius: 15px;
    z-index: 2;
  }

  .background-image {
    position: absolute;
    width: 105%;
    max-height: 500px;
    height: auto;
    object-fit: cover; /* <-- THIS ensures no cropping */
    display: block;
    border-radius: 15px;
    z-index: 2;
    filter: blur(15px);  /* Apply blur effect */
  }

  .file-container {
    width: 85%;
    margin: 10px auto;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-container {
    width: 85%;
    margin: 5px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: large;
  }

  .username-container {
    width: 85%;
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: large;
  }

  .publisher-container {
    width: 85%;
    margin: 5px auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
  }

  .post-section a {
    text-decoration: none;
    color: inherit;
  }

  .post-content:hover {
    background-color: #246aa7;
    box-shadow: 0 0 20px rgba(36, 106, 167, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .description-container {
    width: 85%;
    margin: 5px auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
  }

  .post-section a {
    text-decoration: none;
    color: inherit;
  }

  .flash {
    margin-top: 10px;
  }

  .post-text:hover {
    color: #1b4f83;
    text-decoration: underline;
  }

  .follow-section {
    width: 16%;
    background-color: #1b4f83;
    padding: 1rem;
    border-radius: 12px;
    height: fit-content;
    position: sticky;
    top: 6.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  .home-container {
    display: flex;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
  }

  .profile-suggestions h3 {
    color: #f15c22;
    margin-bottom: 1rem;
  }

  .profile-card {
    background-color: #2261a9;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    transition: background-color 0.2s ease;
  }

  a .profile-card  {
    color: #fff;
    text-decoration: none;
  }

  a .profile-card:hover {
    background-color: #2a94f0;
    text-decoration: none;
  }

  .pfp {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
    vertical-align: middle;
  }

  .posts-container { 
    padding-left: 1rem;
    max-width: 65%;
    flex: 1;
    margin: 0 auto;
  }

  #username:hover {
    color: #f15c22;
    text-decoration: underline;
  }

</style>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash">
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="home-container">
  <div class="posts-container">
  {% if featured_notes %}
    {% for note in featured_notes|sort(attribute='date', reverse=true) %}
    <div class="post-section">
      <div class="post-content">

        <div class="username-container">
          <span>
          <a href="{{ url_for('views.user_profile', user_id=note.user.id) }}">
            <img class="pfp" src="{{ url_for('static', filename='profile_pics/' + (note.user.image_profile if note.user.image_profile else 'default.jpg')) }}" alt="Profile Picture">
          </a>
          <a href="{{ url_for('views.user_profile', user_id=note.user.id) }}" id="username">{{ note.user.username }}</a> · {{ note.date | time_ago }}</span>
        </div>

        <a href="{{ url_for('views.post_detail', post_id=note.id) }}">

          <div class="title-container">
            {{ note.title }} {{ note.code }} | Chapter : {{ note.chapter }}
          </div>

          {% if note.file_path.endswith('.pdf') %}
            <div class="image-container">
              <img class="background-image" src="{{ '/' ~ (note.preview_path or '') }}" alt="PDF Preview">
              <img class="uploaded-image" src="{{ '/' ~ (note.preview_path or '') }}" alt="PDF Preview">
            </div>
          {% else %}
            <div class="image-container">
              <img class="background-image" src="{{ '/' + note.file_path }}">
              <img class="uploaded-image" src="{{ '/' + note.file_path }}">
            </div>
          {% endif %}
          
          <div class="description-container">
            <p>{{ note.description|safe }}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  <h1 class="mt-5 d-flex justify-content-center align-items-center flex-column text-center" style="color: #f15c22; font-family: 'Baloo 2', cursive; font-weight: 700;">Follow more users to see more notes!</h1>
  {% else %}
  <h1 class="mt-5 d-flex justify-content-center align-items-center flex-column text-center" style="color: #f15c22; font-family: 'Baloo 2', cursive; font-weight: 700;">Follow other users to see their notes here! 👉</h1>
  {% endif %}
</div>

  <div class="follow-section mx-auto mt-4">
    <div class="profile-suggestions">
    {% set other_profiles=recommended_profiles if recommended_profiles else random_profiles %}
    {% if other_profiles %}
      <h3>Follow them!</h3>
      {% for profile in recommended_profiles %}
        <a href="{{ url_for('views.user_profile', user_id=profile.id) }}" style="text-decoration: none;">
          <div class="profile-card">
            <img class="pfp" src="{{ url_for('static', filename='profile_pics/' + (profile.image_profile if profile.image_profile else 'default.jpg')) }}" alt="Profile Picture">
            {{ profile.username }}
          </div>
        </a>
      {% endfor %}
    {% else %}
      <h3>No more people to follow!</h3>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}